[submodule "backend"]
	path = backend
	url = git@github.com:ammar-jesliy/event-ticketing-backend.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:ammar-jesliy/event-ticketing-frontend.git
